In [1]:
# Auto formatting
%load_ext nb_black

In [7]:
import numpy as np
import pandas as pd
import plotly.express as px
from IPython.display import display
from sklearn.model_selection import train_test_split

In [8]:
df = pd.read_csv("../data/cleaned.csv", index_col=[0])
display(df)

,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,loan_amount,term,...,Region_North-East,Region_central,Region_south,age_25-34,age_35-44,age_45-54,age_55-64,age_65-74,age_<25,age_>74
0,cf,Sex Not Available,nopre,type1,p1,l1,nopc,nob/c,116500,360.0,...,0,0,1,1,0,0,0,0,0,0
1,cf,Male,nopre,type2,p1,l1,nopc,b/c,206500,360.0,...,0,0,0,0,0,0,1,0,0,0
2,cf,Male,pre,type1,p1,l1,nopc,nob/c,406500,360.0,...,0,0,1,0,1,0,0,0,0,0
3,cf,Male,nopre,type1,p4,l1,nopc,nob/c,456500,360.0,...,0,0,0,0,0,1,0,0,0,0
4,cf,Joint,pre,type1,p1,l1,nopc,nob/c,696500,360.0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135103,cf,Sex Not Available,nopre,type1,p3,l1,nopc,nob/c,436500,180.0,...,0,0,1,0,0,0,1,0,0,0
135104,cf,Male,nopre,type1,p1,l1,nopc,nob/c,586500,360.0,...,0,0,1,1,0,0,0,0,0,0
135105,cf,Male,nopre,type1,p4,l1,nopc,nob/c,446500,180.0,...,0,0,0,0,0,1,0,0,0,0
135106,cf,Female,nopre,type1,p4,l1,nopc,nob/c,196500,180.0,...,0,0,0,0,0,0,1,0,0,0
135107,cf,Female,nopre,type1,p3,l1,nopc,nob/c,406500,240.0,...,0,0,0,0,0,1,0,0,0,0

In [9]:
# Start analysis with value of arbitrary value of lambda
from sklearn.model_selection import train_test_split

Xtrain, Xtest, Ytrain, Ytest = train_test_split(
    df.drop("Credit_Score", axis=1), df["Credit_Score"], test_size=0.3, random_state=0
)